.statsscreen {
  width: 800px;
  height: 600px;
  background-color: antiquewhite;
  padding: 40px;
  /* You can adjust padding as needed */
  box-sizing: border-box;
}

.cursor-pointer{
  cursor: pointer;
}
