.gamescreen {
  width: 60vw;
  /* 80% of the viewport width */
  min-height: 70vh;
  /* 70% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
  padding: 40px;
  /* You can adjust padding as needed */
  /* box-sizing: border-box; */
}

#guess-input {
  padding: 10px;
  height: max-content;
  position: relative;
  bottom: 0;
  vertical-align: bottom;
  margin-top: 25px;
  display: inline-block;
}

.gameboard {
  width: 35vw;
  height: 70vh;
  align-items: center;
}
.record {
  display: flex;
  width: max-content;
  height: 55vh;
  position: relative;
  left: 1vw;
  top: 1vw;
}
.gameComponents {
  height: 70vh;
}

.recordlist {
  width: 15vw;
}

.table {
  overflow-y: scroll;
  height: 50vh;
  display: block;
}
.chat {
  transform: scale(0.75);
  position: absolute;
  top: 1;
  right: 50px;
}
