.homescreen {
  width: 60vw;
  /* 80% of the viewport width */
  min-height: 70vh;
  /* 70% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
  padding: 40px;
  /* You can adjust padding as needed */
  box-sizing: border-box;
}

.greeting {
  text-align: right;
  margin-bottom: 20px;
  font-size: 25px;
}

.name-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.homescreen .btn-primary {
  background-color: #6c757d;
  border: none;
}

.homescreen .btn-primary:hover {
  background-color: #5a6268;
}
